<!DOCTYPE html>
<html lang="en">
<head>
<title>[% form.name %]</title>
<link rel="stylesheet" type="text/css" href="https://web.stanford.edu/dept/its/css/modern/reset.css" media="all" />
<link rel="stylesheet" type="text/css" href="https://web.stanford.edu/dept/its/css/services/webforms/themes/[% form.css %].css" media="all" />
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script>$(document).ready(function() { [% page.js.main %] });</script>
</head>
<body>
<div id="container">
