        <p class="[% element.class %]">
          <input type="checkbox" id="[% element.id %]" class="[% element.class %]" name="[% element.name %]" value="[% element.label %]" />
          <label for="[% element.id %]">[% element.label %]</label>
        </p>
