<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<title>[% form.name %]</title>
<link rel="stylesheet" type="text/css" href="https://www.stanford.edu/dept/its/css/v2/base.css" media="all" />
<link rel="stylesheet" type="text/css" href="https://www.stanford.edu/dept/its/css/v2/level2.css" media="screen" />
<link rel="stylesheet" type="text/css" href="https://www.stanford.edu/dept/its/css/v2/print.css" media="print" />
<link rel="stylesheet" type="text/css" href="https://www.stanford.edu/dept/its/css/services/webforms/themes/its_retro.css" media="all" />
<!--<link rel="stylesheet" type="text/css" href="https://www.stanford.edu/dept/its/css/services/webforms/themes/[% form.css %].css" media="all" />-->
[% INSERT head.inc %]
</head>
<body>
[% INSERT banner.inc %]
<div id="upperbanner"><img src="https://www.stanford.edu/dept/its/images/upperbanner.gif" alt="" usemap="#stanford" /></div>
<div id="lowerbanner"><img src="https://www.stanford.edu/dept/its/images/lowerbanner.gif" alt="" /></div>
<div id="container">
[% INSERT nav.inc %]
        <div id="breadcrumb">
        <!--Breadcrumb Start-->
            <ul>
            <li><a href="http://itservices.stanford.edu">IT Services</a></li>
            <li>[% form.name %]</li>
            </ul>
        <!--Breadcrumb End-->
        </div>

