<div id="footer" class="clear">
  <ul id="nav_footer">
    <li id="jobs"><a href="http://jobs.stanford.edu/">Jobs</a></li>
    <li id="gift"><a href="http://giving.stanford.edu/">Make A Gift</a></li>
    <li id="contact"><a href="http://www.stanford.edu/home_new/contact/">Contact Info</a></li>
    <li id="about_this_site"><a href="http://www.stanford.edu/home_new/site/">About This Site</a></li>
    <li id="site_map"><a href="http://www.stanford.edu/home_new/site/sitemap.html/">Site Map</a></li>
  </ul>
  <div id="copyright">
    <p>&copy; Stanford University. 450 Serra Mall, Stanford, California 94305. (650) 723-2300. <a href="http://www.stanford.edu/home_new/site/terms.html">Terms of Use</a> | <a href="http://www.stanford.edu/home_new/site/copyright.html">Copyright Complaints</a></p>
  </div>
</div>
