<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Entries</title>
<!-- Base stylesheet which imports typography, resets, header/footer layout, and other miscellaneous styles -->
<link rel="stylesheet" type="text/css" href="https://web.stanford.edu/dept/its/css/modern/base2.css" />
<!-- Page specific stylesheet for middle layout section (sidebars and content_main) -->
<link rel="stylesheet" type="text/css" href="https://web.stanford.edu/dept/its/css/modern/tertiary.css" />
<link rel="stylesheet" type="text/css" href="https://web.stanford.edu/dept/its/css/modern/tertiary_nocol.css" />
<link rel="stylesheet" type="text/css" href="https://web.stanford.edu/dept/its/css/services/webforms/form_builder.css" />
<!--[if IE 6]>
  <style type="text/css">
    @import url(https://web.stanford.edu/dept/its/css/modern/ie/ie_global.css);
  </style>
<![endif]-->
<!--[if IE 7]>
  <style type="text/css">
	@import url(https://web.stanford.edu/dept/its/css/modern/ie/ie7.css);
  </style>
<![endif]-->
</head>
<body>
    <div class="skip"><a href="#content">Skip to Content</a></div>
    <div id="container">
    [% INCLUDE header.tt %]
    <div id="breadcrumb">
      <p><a href="http://itservices.stanford.edu/">IT Services</a> &raquo; <a href="http://itservices.stanford.edu/service/web">University Web Resources</a> &raquo; <a href="formbuilder.cgi">Form Management</a> &raquo; Data Viewer for [% form.name %]</p>
    </div> 
    <div id="title">
        <h1>Entries</h1>
    </div>
    <div id="content_wide">
        <h2>[% form.name %]</h2>
        <p>Are you sure you want to delete [% IF total_submissions > 1 %]these [% total_submissions %] entries[% ELSE %]this entry[% END %]? This cannot be undone.</p>
        <form method="post" action="formbuilder.cgi">
        [% FOREACH submission = submissions -%]
        <input type="hidden" name="submission_id" value="[% submission %]" />
        [% END -%]
        <input type="hidden" name="form_id" value="[% form.id %]" />
        <input type="hidden" name="action" value="delete_entries" />
        <input type="submit" value="Delete [% IF total_submissions > 1 %]these [% total_submissions %] entries[% ELSE %]this entry[% END %]" /> or <a href="formbuilder.cgi?action=view_entries&form_id=[% form.id %]">Cancel</a>
        </form>
    </div>
    [% INSERT footer.html %]
    </div>
</body>
</html>
