<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Web Form Services - Error</title>
	<link rel="stylesheet" type="text/css" href="[% INCLUDE path.tt %]css/form_builder.css" />
</head>
<body>
    <div class="skip"><a href="#content">Skip to Content</a></div>
    <div id="container">
        [% INSERT 'error/header.html' %]
    <div id="breadcrumb">
      <p><a href="http://itservices.stanford.edu/">IT Services</a> &raquo; <a href="http://web.stanford.edu/">University Web Services</a> &raquo; <a href="http://www.stanford.edu/services/webforms/">Web Forms Service</a> &raquo; <a href="https://www.stanford.edu/dept/its/cgi-bin/services/webforms/formbuilder.cgi">Form Management</a> &raquo; Error</p>
    </div>

        <div id="title"><h1>Error</h1></div>
        <div id="content_wide">
            <h2>[% user_header %]</h2>
            <p>[% IF user_message == '' %]An error occurred the Form Builder could not recover from. That's not good. The error was logged so the admins can track down the problem. Please try again later.[% ELSE %][% user_message %][% END %]</p>
            <p>If the problem persists, or you need immediate help, you can submit an <a href="http://helpsu.stanford.edu/helpsu.cgi?pcat=webforms">HelpSU Request</a>. If you'd like to learn more about the service, leave comments or report bugs, please visit the <a href="https://www.stanford.edu/dept/its/communications/webservices/wiki/index.php/Stanford_Web_Forms_Service">Web Forms Service Wiki</a>.</p>
        </div>
        [% INSERT 'error/footer.html' %]
    </div>
</body>
</html>
